body{
  box-sizing: border-box;
  background-color: aquamarine;
}
.container{
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgb(135, 182, 74);
  border-radius: 10px;
  text-align: center;
}

input[type='submit'], button, [aria-label]{
  cursor: pointer;
  text-align: center;
}
.table{
  margin-left: 30%;
  position: relative;
}
